@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@* Replaces: 
    <li>@Html.ActionLink("Register Online", "Index", "Home")</li>
    @Html.ActionLink("My Home Page", "Index", "Team", null, new { @class = "btn btn-default" })
*@

<a asp-controller="Home" asp-action ="About">About</a>



<p class="jumbotron">
    Hello, my name is @(ViewBag.Name ?? "(unknown)").
</p>

@section scripts{
    <script src="~/main.min.js"></script>
}